/Schelling/nbproject/private/
/Schelling/build/
/Schelling/dist/
/ServerChat/nbproject/private/
/ServerChat/build/
/InternetData/nbproject/private/
/InternetData/build/
/InternetData/dist/
/ir/nbproject/private/